version: "3"

services:
    rungde:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: rungde
        ports:
            - "80:80"

    mysql:
        image: mysql:8.3
        container_name: mysql
        restart: unless-stopped
        tty: true
        ports:
            - "3306:3306"
        environment:
            MYSQL_DATABASE: ${DB_NAME}
            MYSQL_USER: ${DB_USER}
            MYSQL_PASSWORD: ${DB_PASS}
            MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASS}
            SERVICE_TAGS: dev
            SERVICE_NAME: mysql
        volumes:
            - /home/meemalifaaeenforwork/rungde-data:/var/lib/mysql
