version: "3"

networks:
    main:

services:
    rungde:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: rungde
        ports:
            - "80:80"
        depends_on:
            - mysql
        networks:
            - main
    redis:
        image: redis:alpine
        restart: always
        ports:
            - "6379:6379"
        networks:
            - main
        environment:
            - REDIS_PASSWORD=redis

    mysql:
        image: mysql:8.3
        container_name: mysql
        restart: unless-stopped
        tty: true
        ports:
            - "3306:3306"
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_USER: ${DB_USERNAME}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASS}
            SERVICE_TAGS: dev
            SERVICE_NAME: mysql
        volumes:
            - /home/meemalifaaeenforwork/rungde-data:/var/lib/mysql
        networks:
            - main
